<h1>omg un boss</h1>
<div *ngIf="boss">
    <div>
        {{ boss.name }}
        PV: {{ boss.life }}
        ATK: {{ boss.damage }}
    </div>

    
    <div *ngIf="isFighting">
        
        <div *ngIf="playerD6 < 2 && player.experience > 0">
            <p> You missed! Would you like to try again for 1xp?</p>
            <button (click)="tryAgain()">Yes</button>
        </div>

        <p *ngIf="playerD6 < 2 && player.experience === 0">Miss!</p>
        <p *ngIf="playerD6 >= 2">
            Hit!
        </p>

    </div>

    <button *ngIf="boss.life > 0 && player.life > 0" (click)="fight()">ATTACK</button>

    <p *ngIf="boss.life <= 0">You won!</p>

    <button *ngIf="boss.life <= 0" (click)="next()">Poursuivre</button>
</div>