<app-header></app-header>

<h1>Status: {{ player.status }} / Event: {{ event }}</h1>

<button (click)="randomEvent()">Change event</button>

<div *ngIf="player.life > 0">

<app-camp *ngIf="event === 'camp'"
    [player]="player"
    (nextEvent)="next()"
    ></app-camp>
<app-loot *ngIf="event === 'loot'"
    [player]="player"
    (nextEvent)="next()"
></app-loot>
<app-monster *ngIf="event === 'monster'"
    [player]="player"
    (nextEvent)="next()"></app-monster>
<app-shop *ngIf="event === 'shop'"
    [player]="player"
    (nextEvent)="next()"
    ></app-shop>
<app-trap *ngIf="event === 'trap'"
    [player]="player"
    (nextEvent)="next()"
    ></app-trap>

<app-map *ngIf="event === 'door'" (nextEvent)="next($event)"></app-map>
<app-boss *ngIf="event === 'boss'" [player]="player" (nextEvent)="next()"></app-boss>
<app-rest *ngIf="event === 'rest'" [player]="player" (nextEvent)="next()"></app-rest>

</div>

<app-game-over *ngIf="player.life <= 0"></app-game-over>