<app-header></app-header>

<h1>Status: {{ player.status }} / Event: {{ event }}</h1>

<button (click)="randomEvent()">Change event</button>


<app-camp *ngIf="event === 'camp'"
    [player]="player"
    (nextEvent)="next()"
    ></app-camp>
<app-loot *ngIf="event === 'loot'"
    [player]="player"
    (nextEvent)="next()"
></app-loot>
<app-monster *ngIf="event === 'monster'"
    [player]="player"
    (nextEvent)="next()"></app-monster>
<app-shop *ngIf="event === 'shop'"
    [player]="player"
    (nextEvent)="next()"
    ></app-shop>
<app-trap *ngIf="event === 'trap'"
    [player]="player"
    (nextEvent)="next()"
    ></app-trap>

<app-map *ngIf="event === 'door'" (chosenEncounter)="currentEncounter($event)"></app-map>
<app-boss *ngIf="player.status === 'boss'" [player]="player" (nextEvent)="next()"></app-boss>
<app-rest *ngIf="player.status === 'rest'"></app-rest>