<app-header></app-header>

<h1>{{ player.status }}</h1>

<button (click)="randomEvent()">Change event</button>

<div *ngIf="player.status === 'encounter'">
    <app-camp *ngIf="this.event === 'camp'"
        [player]="player"
        (nextEvent)="next()"
        ></app-camp>
    <app-loot *ngIf="this.event === 'loot'"
        [player]="player"
        (nextEvent)="next()"
    ></app-loot>
    <app-monster *ngIf="this.event === 'monster'" [player]="player"></app-monster>
    <app-shop *ngIf="this.event === 'shop'"
        [player]="player"
        (nextEvent)="next()"
        ></app-shop>
    <app-trap *ngIf="this.event === 'trap'"
        [player]="player"
        (nextEvent)="next()"
        ></app-trap>
</div>

    <app-map *ngIf="player.status === 'door'" (chosenEncounter)="currentEncounter($event)"></app-map>
    <app-boss *ngIf="player.status === 'boss'"></app-boss>
    <app-rest *ngIf="player.status === 'rest'"></app-rest>