<h1>oh no un monstre</h1>
<div *ngIf="monster">
    <div>
        {{ monster.name }}
        PV: {{ monster.life }}
        ATK: {{ monster.damage }}
    </div>

    <button *ngIf="monster.life > 0 && player.life > 0" (click)="fight()">FIGHT</button>

    <div  *ngIf="isFighting">
        <p *ngIf="playerD6 < 2">
            Miss!
        </p>
        <p *ngIf="playerD6 >= 2">
            Hit!
        </p>
    </div>
    <p *ngIf="monster.life <= 0">You won!</p>
   
    <button *ngIf="monster.life <= 0" (click)="next()">Poursuivre</button>
</div>