<div *ngFor="let encounter of encounterList">

    <div *ngIf="encounter === 'camp'">
        <img class="card-img" src="assets/img/map-icons/camp.png">
    </div>

    <div *ngIf="encounter === 'loot'">
        <img class="card-img" src="assets/img/map-icons/loot.png">
    </div>

    <div *ngIf="encounter === 'monster'">
        <img class="card-img" src="assets/img/map-icons/monster.png">
    </div>

    <div *ngIf="encounter === 'shop'">
        <img class="card-img" src="assets/img/map-icons/shop.png">
    </div>

    <div *ngIf="encounter === 'trap'">
        <img class="card-img" src="assets/img/map-icons/trap.png">
    </div>

    <button (click)="goToEncounter(encounter)">Select</button>
</div>
