<div *ngFor="let die of setOfDice">
    <div *ngIf="die <= 10" [routerLink]="['/game']">
        <img class="card-img" src="assets/img/map-icons/boss.png">
    </div>

    <div *ngIf="die > 10 && die <= 20">
        <img class="card-img" src="assets/img/map-icons/camp.png">
    </div>

    <div *ngIf="die > 20 && die <= 40">
        <img class="card-img" src="assets/img/map-icons/loot.png">
    </div>

    <div *ngIf="die > 40 && die <= 70">
        <img class="card-img" src="assets/img/map-icons/monster.png">
    </div>

    <div *ngIf="die > 70 && die <= 80">
        <img class="card-img" src="assets/img/map-icons/shop.png">
    </div>

    <div *ngIf="die > 80">
        <img class="card-img" src="assets/img/map-icons/trap.png">
    </div>

    <button (click)="goToEvent(die)">Select</button>
</div>
