<div *ngIf="currentTrap">
    <h1>{{ currentTrap.name }}</h1>
    <img [src]="'../../../../assets/img/encounters/trap/zone-' + player.currentZone + '/' + currentTrap.id + '.png'">
    <p>{{ currentTrap.description }}</p>
    <p *ngIf="currentLineEffect !== -1">{{ currentTrap.linesOfEffect[currentLineEffect].negativeText }}</p>
    <p *ngIf="isWhiteDiceSucced">{{ currentTrap.linesOfEffect[currentLineEffect].positiveText }}</p>
    <p *ngIf="blackDie">blackDie:{{ blackDie }} / whiteDice:{{ whiteDice }}</p>

    <app-die-roll [player]="player" (blackDie)="blackDieReceive($event)" (whiteDice)="whiteDiceReceive($event)"></app-die-roll>

    <button *ngIf="blackDie && !canProceed" (click)="proceed()">Appliquer</button>
    <button *ngIf="canProceed" (click)="next()">Poursuivre</button>
</div>